/*global variables and @mixin*/

$blue: #64b5f6;
$pink: #f672a1;
$green: #016450;
$oldlace: #f5f5f5;
$red: #ec1e32;
$bg: #f5f5f5;

@mixin colorSize($color, $size) {
  color: $color;
  font-size: $size;
}

@mixin pad($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin rounded($color, $width: 1px) {
  border-radius: 30px;
  border: $width solid $color;
}

nav {
  background-color: $oldlace;
  ul a {
    color: #444;
  }
}

li {
  list-style: none;
}

p {
  line-height: 2rem;
  font-size: 1.2em;
}

a {
  color: $green;
}

.margin-zero {
  margin: 0;
}

.m-bottom-lg {
  margin-bottom: 30px;
}

.m-bottom-md {
  margin-bottom: 20px;
}

.m-lg {
  margin: 80px 0 100px 0;
}

.body-text {
  line-height: 2rem;
  font-size: 1.2em;
  & li {
    list-style-type: disc !important;
    margin-left: 30px;
    padding: 3px 0;
  }
}

.body-text2 {
  font-size: 1.2em;
  letter-spacing: 0.5px; 
}

#sidenav-overlay {
  z-index: 0;
}


/* TOP SECTION TITLE */

.title {
  display: inline-block;
  padding: 5px 15px;
  background-color: $pink;
  color: oldlace;
  position: absolute;
  letter-spacing: 1.2px;

  &.name {
    transform: rotate(-30deg);
    top: 200px;
  }

  &.pos {
    transform: rotate(-15deg) translateX(150px) translateY(20px);
    top: 250px;
  }

}

/* ICONS */



.icons {
  transform: rotate(-30deg) translateX(260px) translateY(464px);
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  grid-template-rows: 1fr;
  opacity: 0.7;
  border-radius: 15px;
  background-color: $oldlace;

  li {
    opacity: 1;
    list-style: none;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom-icons {
  margin: auto;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  li {
    list-style: none;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  padding: 5px;
  color: $green;
  cursor: pointer;

  &:hover {
    font-size: 3.5em;
  }
}

.row.center.q {
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 35px;
}

.container.c-q {
  line-height: 2.5;
}

.header1 {
  @include colorSize($green, 1.8em);
  font-weight: 400;
}

.header2 {
  font-size: 1.5em;
  font-weight: 400;
}

.space-around {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-des {
  padding-left: 20px;
}

.time {
  @include colorSize($green, 1.3em);
}

.chip {
  border-radius: 10px;
  border: 2px solid $bg;
  background-color: white;
}

.button-collapse {
  margin-right: 2px;
  color: grey;
}

.section-header {
  font-size: 1.5em;
  color: $pink;
  border-bottom: 2px dashed $green;
  margin: 50px auto;
  line-height: unset;

  &.last {
    padding: 0 .75rem;
  }
}

.section {
  padding: inherit;

  &.last {
    padding-bottom: 80px;
  }

  &.contact {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bk-grey {
  background-color: $bg;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  .section {
    width: 100%;
  }
}

.parallax {
  background-color: #000;
}

.icon-block {
  padding: 0 15px;
  .material-icons{
    font-size: inherit;
  }
} 

footer.page-footer {
  margin: 0;
}

.bk {
  background-color: $bg;
  padding-top: 30px;
}

.download {
  color: $oldlace;
  font-size: 1.2em;
  background-color: $green;
  padding: 5px 15px;
  border-radius: 10px;
  letter-spacing: 1px;
  &:hover {
    background-color: #fff;
    color: $green;
    border: 2px solid $green;
    cursor: pointer;
  }
}

.project {
  width: 100%;
}

.p-img, .p-img1, .p-img2, .p-img3, .p-img4, .p-img5 {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
}

.p-text {
  @include colorSize($blue, 0.8em);
}

.p-link {
  font-size: 1.1em;
  &:hover {
    color: orange;
  }
}

.skillbox {
  padding-top: 20px;
  padding-bottom: 20px;
}

.a-skillbox {
  padding-top: 0;
}

.a-img {
  margin: 40px 10px 0;
}

.p-slider {
  position: relative;
  width: 100%;
  i {
    font-size: 1.8em;
  }
}


/* mini-projects */

@mixin minip {
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
}

.p-mini1 {
  @include minip;
  background-image: url('../assets/weatherman.png');
}

.weatherman {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
}

.close-m1 {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $blue;
}

.p-mini2 {
  @include minip;
  background-image: url('../assets/tictactoe.png');
}

.p-mini3 {
  @include minip;
  background-image: url('../assets/pacman.png');
}

/* slider left and right arrow */

%display {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: $blue;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

.display-left{
  @extend %display;
  left: 0;
}

.display-right{
  @extend %display;
  right: 0;
}

.tabs .indicator {
  background-color: orange !important;
}

.tabs li.tab a {
  color: grey !important;

}

@media only screen and (max-width : 780px) {
  #index-banner .section {
    top: 0;
  }

  .icons {
    transform: rotate(-30deg) translateX(200px) translateY(464px);
  }
}

@media only screen and (max-width : 612px) {
  #index-banner .section {
    top: 0;
  }

  .title {
    font-size: 2em;
    &.name {
      transform: rotate(0deg);
      margin: 5px 0;
    }
  
    &.pos {
      transform: rotate(0deg);
      margin: auto;
    }
  
  }

  .time {
    text-align: left;
    margin: 0 0 15px;
  }

  .icons {
    transform: unset;
    top: 280px;
  }
}

/* pie chart */
.chart {
    position:relative;
    width:180px; height:180px;
    margin: auto;
    margin-bottom: 20px;
}
canvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    margin: 0 auto;
}
.pie {
    color:#555;
    display:block;
    text-align:center;
    width:100%;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
}

.pie-t {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 45px;
}
