/*global variables and @mixin*/
nav {
  background-color: #f5f5f5;
}
nav ul a {
  color: #444;
}

li {
  list-style: none;
}

p {
  line-height: 2rem;
  font-size: 1.2em;
}

a {
  color: #016450;
}

.margin-zero {
  margin: 0;
}

.m-bottom-lg {
  margin-bottom: 30px;
}

.m-bottom-md {
  margin-bottom: 20px;
}

.m-lg {
  margin: 80px 0 100px 0;
}

.body-text {
  line-height: 2rem;
  font-size: 1.2em;
}
.body-text li {
  list-style-type: disc !important;
  margin-left: 30px;
  padding: 3px 0;
}

.body-text2 {
  font-size: 1.2em;
  letter-spacing: 0.5px;
}

#sidenav-overlay {
  z-index: 0;
}

/* TOP SECTION TITLE */
.title {
  display: inline-block;
  padding: 5px 15px;
  background-color: #f672a1;
  color: oldlace;
  position: absolute;
  letter-spacing: 1.2px;
}
.title.name {
  transform: rotate(-30deg);
  top: 200px;
}
.title.pos {
  transform: rotate(-15deg) translateX(150px) translateY(20px);
  top: 250px;
}

/* ICONS */
.icons {
  transform: rotate(-30deg) translateX(260px) translateY(464px);
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  grid-template-rows: 1fr;
  opacity: 0.7;
  border-radius: 15px;
  background-color: #f5f5f5;
}
.icons li {
  opacity: 1;
  list-style: none;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-icons {
  margin: auto;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
}
.bottom-icons li {
  list-style: none;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 5px;
  color: #016450;
  cursor: pointer;
}
.icon:hover {
  font-size: 3.5em;
}

.row.center.q {
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 35px;
}

.container.c-q {
  line-height: 2.5;
}

.header1 {
  color: #016450;
  font-size: 1.8em;
  font-weight: 400;
}

.header2 {
  font-size: 1.5em;
  font-weight: 400;
}

.space-around {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-des {
  padding-left: 20px;
}

.time {
  color: #016450;
  font-size: 1.3em;
}

.chip {
  border-radius: 10px;
  border: 2px solid #f5f5f5;
  background-color: white;
}

.button-collapse {
  margin-right: 2px;
  color: grey;
}

.section-header {
  font-size: 1.5em;
  color: #f672a1;
  border-bottom: 2px dashed #016450;
  margin: 50px auto;
  line-height: unset;
}
.section-header.last {
  padding: 0 0.75rem;
}

.section {
  padding: inherit;
}
.section.last {
  padding-bottom: 80px;
}
.section.contact {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bk-grey {
  background-color: #f5f5f5;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
}
.parallax-container .section {
  width: 100%;
}
.parallax-container .container {
  margin: 0 5%;
}

.parallax {
  background-color: #000;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.bk {
  background-color: #f5f5f5;
  padding-top: 30px;
}

.download {
  color: #f5f5f5;
  font-size: 1.2em;
  background-color: #016450;
  padding: 5px 15px;
  border-radius: 10px;
  letter-spacing: 1px;
}
.download:hover {
  background-color: #fff;
  color: #016450;
  border: 2px solid #016450;
  cursor: pointer;
}

.project {
  width: 100%;
}

.skillbox {
  padding-top: 20px;
  padding-bottom: 20px;
}
.skillbox a {
  color: rgba(0, 0, 0, 0.6);
}
.skillbox a:hover {
  color: #016450;
}

.a-skillbox {
  padding-top: 0;
}

.a-img {
  margin: 40px 10px 0;
}

@media only screen and (max-width: 780px) {
  #index-banner .section {
    top: 0;
  }

  .icons {
    transform: rotate(-30deg) translateX(135px) translateY(464px);
  }
}
@media only screen and (max-width: 612px) {
  #index-banner .section {
    top: 0;
  }

  .title {
    font-size: 2.5em;
  }
  .title.name {
    transform: rotate(0deg);
    top: 190px;
  }
  .title.pos {
    transform: rotate(0deg);
    top: 245px;
  }

  .time {
    text-align: left;
    margin: 0 0 15px;
  }

  .icons {
    transform: unset;
    top: 306px;
  }
}
/* pie chart */
.chart {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
  margin-bottom: 20px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.pie {
  color: #555;
  display: block;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.pie-t {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 45px;
}

/*# sourceMappingURL=style.css.map */
