body {
	margin-top: 10px;
}

.projects img {
	max-width: 300px;
}
.icon {
	text-align: center;
}
.icon img {
	max-width: 40px;
}

.footer {
	position: fixed;
	left: 5px;
	bottom: 0px;
}

.profile {
	width: 300px;
}

.contact {
	text-align: center;
}