input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message {
    text-align: center;
    font-family: sans-serif;
}

.weather-app {
    margin: auto;
    width: 420px;
    height: 350px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #888888;
    overflow: hidden;
    text-align:center;
    font-family: sans-serif;
}

.left {
    float: left;
    background: #262626;
    padding:10px;
    width:150px;
    height:100%;
    color:white;
}

.temperature {
    margin-top:30px;
    margin-bottom:5px;
    font-size:32px;
    font-weight: bold;
    width: 150px;
}

.location {
    font-size: 18px;
    width:100%;
    width:150px;
}

.right {
    float: right;
    width:250px;
    height:100%;
}

.bottom {
    height: 250px;
    width: 100%;
    background: #fff;
}

.bottom img {
    margin-top: 15px;
}

.top {
    height: 70px;
    background: #ffcc99;
    color: white;
    font-weight: bold;
}

.humidity {
    padding: 8px;
}

.wind {
}
